nav {
	padding: 20px;
	border-bottom: 1px solid #eaeaea;
	background-color: #ff6600;
	border-radius: 20px 20px 0 0;
	display: flex;
	justify-content: flex-start;

	img {
		margin-right: 5px;
		border: 1px solid white;
	}

	h3 {
		margin: 0;
		font-style: bold;
		font-size: 18px;
	}
}
